<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Truyen online</title>
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <a href="/">
        <img src="https://i.ibb.co/wwLhz98/logo.png" alt="Microsoft" class="logo" />
      </a>
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/story.html">Story</a></li>
        <li><a href="/chap.html">Chap</a></li>
        <li><a href="#">Xbox</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Support</a></li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>

    {{{body}}}
  </div>
  <!-- Links -->
  <section class="links">
    <div class="links-inner">
      <ul>
        <li>
          <h3>What's New</h3>
        </li>
        <li><a href="#">Surface Pro X</a></li>
        <li><a href="#">Surface Laptop 3</a></li>
        <li><a href="#">Surface Pro 7</a></li>
        <li><a href="#">Windows 10 apps</a></li>
        <li><a href="#">Office apps</a></li>
      </ul>
      <ul>
        <li>
          <h3>Microsoft Store</h3>
        </li>
        <li><a href="#">Account Profile</a></li>
        <li><a href="#">Download Center</a></li>
        <li><a href="#">Microsoft Store support</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Older tracking</a></li>
      </ul>
      <ul>
        <li>
          <h3>Education</h3>
        </li>
        <li><a href="#">Microsfot in education</a></li>
        <li><a href="#">Office for students</a></li>
        <li><a href="#">Office 365 for schools</a></li>
        <li><a href="#">Deals for studentss</a></li>
        <li><a href="#">Microsfot Azure</a></li>
      </ul>
      <ul>
        <li>
          <h3>Enterprise</h3>
        </li>
        <li><a href="#">Azure</a></li>
        <li><a href="#">AppSource</a></li>
        <li><a href="#">Automotive</a></li>
        <li><a href="#">Government</a></li>
        <li><a href="#">Healthcare</a></li>
      </ul>
      <ul>
        <li>
          <h3>Developer</h3>
        </li>
        <li><a href="#">Visual Studio</a></li>
        <li><a href="#">Windowszs Dev Center</a></li>
        <li><a href="#">Developer Network</a></li>
        <li><a href="#">TechNet</a></li>
        <li><a href="#">Microsoft Developer</a></li>
      </ul>
      <ul>
        <li>
          <h3>Company</h3>
        </li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Microsoft</a></li>
        <li><a href="#">Company news</a></li>
        <li><a href="#">Privacy at Microsoft</a></li>
        <li><a href="#">Inverstors</a></li>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div><i class="fas fa-globe fa-2x"></i> English (United States)</div>
      <ul>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contact Microsoft</a></li>
        <li><a href="#">Privacy & cookies</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Trademarks</a></li>
        <li><a href="#">Safety & eco</a></li>
        <li><a href="#">About our ads</a></li>
        <li><a href="#">&copy; Microsoft 2020</a></li>
      </ul>
    </div>
  </footer>

  <script src="/script/script.js"></script>
</body>

</html>