<section>
  <header class="main">
    <a href="/{{story.slug}}">
      <h2>{{story.name}}</h2>
    </a>
    <h3>{{chap.name}}</h3>
    <ul class="actions">
      <li><a href="#" class="button primary">Chương trước</a></li>
      <li><select name="demo-category" id="demo-category"
          onchange="window.location.href = (this.options[this.selectedIndex].value)">

          <option value="">- Chọn chương -</option>
          {{#each chaps}}
          <option value="{{@root.domain}}/{{@root.story.slug}}/{{slug}}">{{name}}</option>
          {{else}}
          <option value="">- Không có chương -</option>
          {{/each}}
        </select>
      </li>
      <li><a href="#" class="button primary">Chương Sau</a></li>
    </ul>
  </header>
  <div class="content-story"> {{{chap.content}}}</div>
  <hr class="major" />
</section>