<!-- Banner -->
{{!-- <section id="banner">
  <div class="content">
    <header>
      <h1>
        Hi, I’m Editorial<br />
        by HTML5 UP
      </h1>
      <p>A free and fully responsive site template</p>
    </header>
    <p>
      Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin
      aliquam facilisis ante interdum congue. Integer mollis, nisl
      amet convallis, porttitor magna ullamcorper, amet egestas
      mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id
      euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor
      sit nullam.
    </p>
    <ul class="actions">
      <li><a href="#" class="button big">Learn More</a></li>
    </ul>
  </div>
  <span class="image object">
    <img src="images/pic10.jpg" alt="" />
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Erat lacinia</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-gem"></span>
      <div class="content">
        <h3>Portitor ullamcorper</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper
          dolore. Proin aliquam facilisis ante interdum. Sed nulla
          amet lorem feugiat tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-paper-plane"></span>
      <div class="content">
        <h3>Sapien veroeros</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper
          dolore. Proin aliquam facilisis ante interdum. Sed nulla
          amet lorem feugiat tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-rocket"></span>
      <div class="content">
        <h3>Quam lorem ipsum</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper
          dolore. Proin aliquam facilisis ante interdum. Sed nulla
          amet lorem feugiat tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-signal"></span>
      <div class="content">
        <h3>Sed magna finibus</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper
          dolore. Proin aliquam facilisis ante interdum. Sed nulla
          amet lorem feugiat tempus aliquam.
        </p>
      </div>
    </article>
  </div>
</section> --}}
<!-- Section -->
<section>
  <header class="major">
    <h2>Truyen Tien Hiep</h2>
  </header>
  <div class="posts">
    {{#each stories}}
    <article>
      <a href="{{slug}}" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>{{name}}</h3>
      <p>
        {{descSEO}}
      </p>
      <ul class="actions">
        <li><a href="{{slug}}" class="button">More</a></li>
      </ul>
    </article>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
  </div>
</section>